<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViewsSeparados.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85036AC7202BB3F200C402CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85036ADB202BB3F400C402CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85036AE6202BB3F400C402CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
